<!-- Search form -->


<nav>
    <a routerLink="/findMovie" routerLinkActive="active">Find Movie</a>
    <!-- <a routerLink="/specificMovie" routerLinkActive="active">Specific Movie</a> -->
</nav>


<!-- <div>
    <form>
        <input [(ngModel)]="searchQuery" type="text" placeholder="Search" name="name">
        
    </form>
    <button type="button" class="btn btn-primary" (click)="search()">Search</button>
    
    <app-movie-list *ngFor="let movie of movies" [movie]="movie"[movieChosen]="movieChosen"></app-movie-list>
</div> -->


<router-outlet></router-outlet>


