<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <body>
        <div>
            <h1 id="centerText"> {{movie.title}} </h1>
        </div>

        <div id="margin">
            <h2> Movie Overview </h2>
            <p> {{movie.overview}} </p>

            <h2> Original Release Date </h2>
            <p> {{movie.release_date}} </p>

            <h2> Movie Rating:</h2>
            <p> {{movie.vote_average}}/10 </p>


            <button (click)="posters()">Show Poster</button>

            <br>

            <p>(Might need to press twice to show the poster image)</p>
            <p>(When pressed multiple times, the current image will cycle to a new image)</p>
            <img *ngIf="showPic" [src]="completeURL">
        </div>
    </body>
</html>

